.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0772ff;
    align-items: flex-start;
    margin: 0px;
    width: 100%;
    max-width: 1400px;
}

.caja{
    flex-wrap: wrap;
    border: 1px solid #000;
}

.cajagrande {
    flex-wrap: wrap;
    width: calc(20% - 2px);
}

.cajalarga{
    flex-wrap: wrap;
 
}

.mini-cajas{
    display: flex;
    overflow: auto;
}


.cajapequena{ 
    display: flex;
    flex-direction: row;
    flex-direction: column;
    width: 20%;
}

.horas{
    display: flex;
    flex-direction: column;
}

.estilo{
    width: 80%;
}